*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
}
.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-todo {
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 40%;
}
.todo-list {
  display: flex;
  list-style: none;
}
.todo-item {
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 1rem;
}
.panel-todo {
  // background-color: cornflowerblue;
  width: 50%;
  position: relative;
  text-align: center;
}
.panel {
  position: absolute;
  // background-color: cornflowerblue;
  width: 100%;
  min-height: 0;
  margin-top: 2rem;
  overflow: hidden;
  display: none;
}
.active {
  display: block;
}
.active-item {
  color: #2f80ed;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #2f80ed;
    position: absolute;
    bottom: -1rem;
    border-radius: 0.2rem;
    left: 0;
  }
}
.form-input__todo {
  margin-top: 2rem;
}
.todo-enter {
  border: 1px solid #bdbdbd;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 2rem;
  width: 50%;
  outline: none;
}
.btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #000;
  cursor: pointer;
  outline: none;
  padding: 1rem 2rem;
  &:active {
    transform: scale(0.98);
  }
}
.btn--primary {
  background-color: #2f80ed;
  color: #fff;
  font-weight: bold;
  &:hover {
    background-color: darken(#2f80ed, 3);
  }
}

.btn--deleted {
  background: #eb5757;
  color: #fff;
  font-weight: bold;
  &:hover {
    background-color: darken(#eb5757, 3);
  }
}
.todo-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  p {
    margin: 0 1rem;
  }
}
.complete {
  text-decoration: line-through;
}

.item-todo {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  padding: 0.5rem;
  p {
    margin: 1rem;
  }
}
.panel-todos {
  // background-color: #2f80ed;
  width: 30%;
  padding: 1rem;
  margin-top: 2rem;
}
.todo-view {
  display: flex;
  margin: 1rem;
}
.todo {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 1rem;
  width: 60%;
}
.delete-icon {
  width: 5%;
}
img {
  max-width: 100%;
}
.is-completed {
  display: none;
}
